<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Brands</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <h3>Brands</h3>
    <p>Brands</p>
    <pre style="color:black; white-space: pre-wrap">
        {{ brands }}
    </pre>
</body>
</html>