<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<h3>Brands</h3>
<ul>
    <li><a href="/brands.php?way=unordered&collectionName=winter">brands.php?way=unordered&collectionName=winter</a> - Brands are unordered.</li>
    <li><a href="/brands.php?way=itemsCountOrder&collectionName=winter">brands.php?way=itemsCountOrder&collectionName=winter</a> - Brands are sorted by items number.</li>
    <li><a href="/brands.php?way=itemsSortedByName&collectionName=winter">brands.php?way=itemsSortedByName&collectionName=winter</a>  - Brands are unordered, items are sorted by item name.</li>
</ul>
<p>Test collection file - for show how additional brand services work.</p>
<ul>
    <li><a href="/brands.php?way=unordered&collectionName=test">brands.php?way=unordered&collectionName=test</a></li>
    <li><a href="/brands.php?way=itemsCountOrder&collectionName=test">brands.php?way=itemsCountOrder&collectionName=test</a></li>
    <li><a href="/brands.php?way=itemsSortedByName&collectionName=test">brands.php?way=itemsSortedByName&collectionName=test</a></li>
</ul>

{{ readme | raw }}

</body>
</html>